

.input-container label {
  display: block;
  margin-bottom: 5px;
  color: rgb(100 116 139);
  font-size: 14px;
  font-weight: 500;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid;
  border-color: rgb(203 213 225);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  height: 62%;
}



